.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.topleft {
    display: flex;
    gap: 5px;
}

.topright {
    display: flex;
}

.background {
    position: relative;
    padding: 0px;
   margin-bottom: 50px;
    display: block;
}

.background {
    width: 100%;
    object-fit: cover;
    height: 600px;
    
}

.button {
    border-radius: 15px;
    width: 150px;
    background-color: white;
}

.nav {

    font-size: 40px;
    display: flex;
    top: 10px;
    left: 5%;
    position: absolute;
    color: white;
}

.li li {
    list-style: none;
    gap: 30px;
    display: flex;
    position: absolute;
    top: 10px;
    left: 30%;
    color: white;
    justify-content: center;
    align-items: center;
}

.trsvg{
    display: none;
}
.icon {
    width: 30px;
    height: 30px;

}

.btn {
    padding: 10px 25px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 15px;
    opacity: 0.3;
    display: flex;
    gap: 10px;
    height: 20px;
    justify-content: center;
    align-items: center;
    z-index: 10px;
}

.btn svg {
    width: 13px;
    height: 13px;
}

.btn-cont {
    position: absolute;
    top: 22px;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.middle {
    position: absolute;
    top: 30%;
    left: 10%;
}

.cap {
    font-size: 50px;
    color: white;
    font-weight: bold;
    max-width: 400px;

}

.small {
    color: white;
    padding: 25px;
    max-width: 400px;    
}

.box {
   display: flex;
    gap: 8px;
    padding: 20px;
}

.b {
    cursor: pointer;
    margin: auto;
    
    padding: 20px;
    font-size: 17px;
    background-color: white;
    font-weight: bold;
}
.b:hover{
    color: white;
    background-color: rgb(151, 73, 73);
}
.obj:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
    
    padding: 10px 10px;
    cursor: pointer;
}
.obj{
    box-sizing: border-box;
    transition: all 0.5 ease;
}
.mobile {

    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background: white;
    color: black;
    transition: left 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 10;
}

.mobile ul{
    padding-left: 0px;
}

.mobile li{
    
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: black;
    font-size: 20px;
    padding-left: 0px;
    cursor: pointer;
    border: 1px solid gray;
    left: 0px;
    padding: 10px;
}
.mobile .close{
    top: 58px;
    text-align: center;
    justify-content: center;
    right: 0px;
    position: absolute;
    font-size: 20px;
    border: 1px solid black;
    padding: 7px 10px;
    
}
.h2{
    
    justify-content: space-between;
    border: 2px solid black;
    padding: 5px 10px;
}

.ham {
    cursor: pointer;
    display: none;
max-width: 80vw;
position: absolute;

}
.msg{
    position:fixed;
    background-color: black;
    border-radius: 80px;
    padding: 25px 20px 15px ;
    margin: 20px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.r1{
    margin-top: 60px;
   
    
    margin-bottom: 60px;
    display: flex;
    justify-content: center;

}
.I1{
    margin-right: 30px
    
}
.I2{
  
    margin-right: 30px;
}
.h4:hover{
    cursor: pointer;
    text-decoration: underline;
}
.h3:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    margin-left: 10px;
    padding: 50px;
    max-width: 50vw;
    justify-content: center;
    max-width: 100vw;
    

}
footer{
    background-color: black;
}
.f1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.sep{
    height: 1px;
    max-width: 80%;
    padding-left: 80px;
    margin-left: 80px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.icons{
    display: flex;
    gap: 20px;
    margin-left: 85px;
    cursor: pointer;
}
.insta{
    height: 40px;
    width: 32px;
}
.ph{
    position: relative;
    right: 10vw;
    cursor: pointer;
    width: fit-content;
    height: 40px;

}
.ph span{
    height: 40px;
    width: 40px;
    background-color: green;
}
.i{
    justify-content: space-between;
    display: flex;
}
.w{
    right: 10vw;
    color: white;
    position: relative;
    max-width: 200px;
    cursor: pointer;
}
.vert{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}
.foot{
    color: white;
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
}
.f{
    display: flex;
    gap: 10px;
}
.br{
    display: flex;
    gap: 5px;
    position: relative;
    left: 30vw;
}

@media (max-width: 1024px) {
    .head ,.li, .btn-cont {
        display: none;

    }

    .ham {
        display: block;
        position: absolute;
        z-index: 25;
        top: 15px;
        left: 0px;
        color: black;
    }

    .background .bg img {
        content: url('https://resource.logitech.com/w_1024,h_1366,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/homepage/mx-brio-hpb-tablet.jpg?v=1');
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .mobile{
        
        position: fixed;
        top: 0;
        
        width: 90%;
        height: 60%;
        color: black;
        z-index: 10000;
        display: flex;
        flex-direction: column;
    }
    .middle{
        transform: translateX(-50%);
        top: 15%;
        left: 50%;
    }
    .cap{
        font-size: 20px;
        display: flex;
        max-width: 400px;
        left: 60%;
       
    }
    .small{
        font-size: 10px;
        max-width: 350px;
    }
    .box{
        max-width: 300px;

    }
    .b{
       padding: 4px 2px ;
        font-size: 10px;
    }
    .nav{
       font-size: 25px;
       top: 20px;
       left: 50%;
       justify-content: center;
       align-items: center;
       position: absolute;
       transform: translate(-50%);
    }
    .trsvg{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        color: white;
        
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: max-content;
    }
    .I2{
        margin: 30px 0;
    }
    .r1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin: 50px 30vw;
       width: 100vw;
        
        
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        width: fit-content;
        display: flex;
        flex-direction: column;

    }
}